* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

.temperature-description {
  font-size: 30px;
  color: orangered;
}

.application {
  padding: 20px;
  border: 5px dotted white;
  border-color: rgba(255, 68, 0, 0.473);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .application {
    width: 70vw;
  }
}
